<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>OHI | Change Password</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Report Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->
    <!-- CSS only -->

    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="all">

    <style type="text/css">
        p {
            color: #111;
        }
    </style>

</head>

<body>

    <!-- form section start -->
    <section class="w3l-hotair-form">
        <h1><img src="images/logo1.jpg" style="width:200px;border-radius: 50%;" /></h1>
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="content-wthree" style="-webkit-flex-basis: 100%;flex-basis: 100%; min-width: 500px;">
                        <h2>Change Password</h2>
                        <% if(user.validated=="Yes" ){%>
                            <p><b>MY OHI ID: <%=user.OHI_id %></b></p>
                            <%}%>

                                <% if(user.passportImg==undefined){%>
                                    <br>
                                    <center><img src="images/passport.png" width="200" height="200" /></center>
                                    <br><br>
                                    <% } else{%>
                                        <br>
                                        <center><img src="/public/passportImages/<%=user.passportImg%>" width="200"
                                                height="200" /></center>
                                        <br><br>
                                        <% }%>

                                            <form enctype="multipart/form-data" id="changePassword">
                                                <label>Old Password</label>
                                                <input type="password" class="text" name="oldPassword" required=""
                                                    id="oldPassword">
                                                <br><br>







                                                <label>New Password <span id="invalidpass"
                                                        style="color: rgb(248, 9, 9);font-size: small;"></span></label>
                                                <input type="password" class="text" name="newPassword" id="password"
                                                    required="" onkeyup="validatepassword(this)">


                                                <br><br>

                                                <button class="btn" id="submitBtn" type="submit">change</button>
                                            </form>
                                            <br>
                                            <center><a href="index" style="text-align: center;">- My OHI Page -</a>
                                            </center>
                                            <br><br>
                                            <center><a href="auth/logout" id="logoutLink" style="text-align: center;">-
                                                    Click to
                                                    Logout
                                                    -</a>
                                            </center>
                                            <br>


                    </div>

                </div>
            </div>
            <!-- //form -->
        </div>
        <!-- copyright-->
        <div class="copyright text-center">
            <p class="copy-footer-29">Ohi.com.ng © 2022 - All rights reserved </p>
        </div>
        <!-- //copyright-->
    </section>
    <!-- //form section start -->



    <script src="js/validation.js"></script>
    <script src="js/changePassword.js"></script>
    <!-- sweet alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- fetch API for logout page -->
    <script src="js/logout-fetchAPI.js"></script>
</body>

</html>