<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>OHI | Login</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Report Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->

    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="all">

</head>

<body>
    <!-- form section start -->
    <section class="w3l-hotair-form">
        <h1><img src="images/logo1.jpg" style="width:200px;border-radius: 50%;" /></h1>
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="content-wthree" style="-webkit-flex-basis: 100%; flex-basis: 100%;">
                        <h2>Log In</h2>
                        <!-- <form action="/auth/login" method="post" id="logForm"> -->
                        <form id='signUp'>
                            <label>Email</label>
                            <input type="email" class="text" name="username" id="username" required="" autofocus>
                            <br>
                            <label>Password</label>
                            <input type="password" class="password" name="password" id="password" required="">
                            <a href="#">Forgot password?</a>
                            <br><br>
                            <button class="btn" type="submit" id="submitBtn">Log In</button>
                            <!-- <button class="btn" type="submit">Log In</button> -->
                        </form>

                        <p class="account">Don't have an account? <a href="/register">Register</a></p>
                    </div>

                </div>
            </div>
            <!-- //form -->
        </div>
        <!-- copyright-->
        <div class="copyright text-center">
            <p class="copy-footer-29">Ohi.com.ng © 2022 - All rights reserved </p>
        </div>
        <!-- //copyright-->
    </section>

    <!-- //form section start -->
    <!-- <script src="js/login-fetchAPI.js"></script> -->
    <script src="js/login-fetchAPI.js"></script>

    <!-- sweet alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>